.columns
  %h2
  = @collection.title
  .row.collection-description
    = @collection.description
    = image_tag @collection.collection_photo

  = link_to "Edit Collection Details", edit_collection_path(@collection), class: :button

%ul#collection-products
- @products.each do |product|
  %li
    = link_to product.name, product_path(product)
    = product.description
    = link_to "Edit", edit_product_path(product), class: :button
