%div.collection-title
  = @collection.title

.row.product-grid-list
  - @products.each do |product|
    %div.product-list-item
      = image_tag(product.product_photos.first, class: "first-image")
      = image_tag(product.product_photos.second, class: "hidden-product-image")
      %h2
        = link_to product.name, product_path(product)
      %p
        = number_to_currency(product.price, precision: 0)
