.row
  .columns.small-12
    .admin-details.clearfix
      = link_to "Edit Collection Details", edit_collection_path(@collection), class: :button
      = link_to "Delete Collection Details", collection_path(@collection), method: :delete, class: :button

.row.product-grid-list
  - @products.each do |product|
    = product.name
    = product.price
    = image_tag(product.product_photos.first)
