.columns.small-12
  .admin-details.clearfix
    = link_to "Edit Collection Details", edit_collection_path(@collection), class: :button

  .columns
    .large-4.columns
      .details-tile
        %h2= @collection.title
        %p= @collection.description
    .large-8.columns
      .image-tile
        = image_tag @collection.collection_photo

  .columns.product-list
    %h3 Products in this Collection
  = full_grid_row do
    - @products.each do |product|
      .column.large-4.end
        .tiles
          = link_to product.name, product_path(product)
          = image_tag product.product_photo
          %p= product.description
          = link_to "Edit", edit_product_path(product), class: :button
