.events-header
  %h2 Where to find Aster Candles

%div
- @upcoming_events.each do |event|
  %ul#upcoming
    %li.panel
      %p= event.title
      %p= event.details
      %p= event.start_date
      %p= event.location_name
      %p= event.address
      %p= event.zip_code

%div
- @past_events.each do |event|
  %ul#past
    %li.panel
      %p= event.title
      %p= event.details
      %p= event.start_date
      %p= event.location_name
      %p= event.address
      %p= event.zip_code
