.events-image
  = image_tag('http://placehold.it/1600x500')

.story-box
  .events-list
    %ul
      - @upcoming_events.each do |event|
        %li
          %h1.event-title
            = event.title
          %hr
          %p.date
            = event.start_date.strftime("%B %-d, %Y")
          %p.details
            = event.details
          %p.location-name
            = event.location_name
          %p.address
            = "#{event.address}, #{event.zip_code}"

.events-image
  = image_tag('http://placehold.it/1600x500')
