.about-image
  = image_tag('product/wicks.jpg')

.story-box
  .stockists-story
    %h1.state-title
      Rhode Island
      %div.company-details
        %p.company-name
          Christina Ltd.
        %p.company-address
          1 Canal Street, Westerly, RI
        %p.website
          = link_to "www.christinaltd.com", "http://www.christinaltd.com"
      %div.company-details
        %p.company-name
          Craftland
        %p.company-address
          212 Westminister Street, Providence, RI
        %p.website
          = link_to "www.craftlandshop.com", "http://www.craftlandshop.com"
      %div.company-details
        %p.company-name
          NAVA
        %p.company-address
          197 Wickenden Street, Providence, RI
        %p.website
          = link_to "www.shopnava.com", "http://www.shopnava.com"
      %div.company-details
        %p.company-name
          Stock Culinary Goods
        %p.company-address
          756 Hope Street, Providence, RI
        %p.website
          = link_to "www.stockculinarygoods.com", "http://www.stockculinarygoods.com"

    %h1.state-title
      Massachusetts
      %div.company-details
        %p.company-name
          Hippo
        %p.company-address
          741 Purchase Street, New Bedford, MA
        %p.website
          = link_to "www.shopathippo.com", "http://www.shopathippo.com"

.about-image
  = image_tag('product/candle-rows.jpg')
