%div.slideshow
  = image_tag "lifestyle/CAROSEL1.png"
  = image_tag "lifestyle/CAROSEL2.png"
  = image_tag "lifestyle/CAROSEL3.png"
  = image_tag "lifestyle/CAROSEL4.png"

%div.photo-panel{"data-equalizer" => "", "data-equalizer-on" => "small-up"}

  %div.box{"data-equalizer-watch" => ""}
    %div.instagram-cta
      = link_to "Follow us on Instagram", "https://www.instagram.com/astercandle/"

  %div.box{"data-equalizer-watch" => ""}
    = image_tag('https://instagram.fbed1-2.fna.fbcdn.net/t51.2885-15/e35/15306579_1778532972396134_569971417496420352_n.jpg?ig_cache_key=MTQwMDM3ODc3MDUwNjI2MjA4NA%3D%3D.2')
  %div.box{"data-equalizer-watch" => ""}
    = image_tag('https://instagram.fbed1-2.fna.fbcdn.net/t51.2885-15/e35/14723734_1741854706140999_1603065679597010944_n.jpg?ig_cache_key=MTM5OTY1OTMyMDM4MzM3NjU1Nw%3D%3D.2')
  %div.box{"data-equalizer-watch" => ""}
    = image_tag('https://instagram.fbed1-2.fna.fbcdn.net/t51.2885-15/e35/14488162_590539911129775_3200835466949558272_n.jpg?ig_cache_key=MTM2OTkxMjc0ODIyMTQ0NDU3Nw%3D%3D.2')
