%div.slideshow
  = image_tag "lifestyle/lifestyle-flowers.jpg"
  = image_tag "lifestyle/lifestyle-jar-01.jpg"
  = image_tag "lifestyle/lifestyle-tray-03.jpg"
  = image_tag "lifestyle/lifestyle-topview-lit.jpg"
  = image_tag "lifestyle/lifestyle-tin-01.jpg"
