= form_for @product do |f|
  = f.label :name, "Product Name"
  = f.text_field :name, placeholder: "Enter product name"

  = f.label :price, "Product Price"
  = f.text_field :price, placeholder: "Enter product price (without $) here"

  = f.label :description, "Description"
  = f.text_area :description, placeholder: "Enter product description here"

  = f.label :collection_id, "Choose Collection"
  = f.select :collection_id, Collection.all.map { |collection| [collection.title, collection.id] }, include_blank: true

  = f.button "Update Product Details"
