= form_for @product do |f|
  = f.label :name, "Product Name"
  = f.text_field :name, placeholder: "Enter product name"

  = f.label :price, "Product Price"
  = f.text_field :price, placeholder: "Enter product price (without $) here"

  = f.label :description, "Description"
  = f.text_area :description, placeholder: "Enter product description here"

  = f.label :collection_id, "Choose Collection"
  = f.select :collection_id, Collection.pluck(:title, :id), include_blank: true

  = f.label :product_photo, "Add Product Photo"
  = f.file_field :product_photo

  = f.button "Save Product"
