.product-wrapper.clearfix
  .admin-details.clearfix
    = link_to "Edit Product Details", edit_product_path(@product), class: :button
    = link_to @product.hidden ? "Show" : "Hide", hide_product_path(@product, page: params[:page]), method: :patch, class: :button
    = link_to "Delete", product_path(@product), method: :delete, class: :button

    - if @product.hidden == true
      %p Visibility: Hidden
    - else
      %p Visibility: Public

    - if @product.collection.present?
      = link_to "Collection: #{@product.collection.title}", collection_path(@product.collection)

  .image-tile.columns.small-5
    = image_tag @product.product_photos.first
  .details-tile.columns.small-5
    %h2= @product.name
    %h2= number_to_currency(@product.price, precision: 0)
    %p= @product.description
