%h2= @product.name
%p= number_to_currency(@product.price)
.product-description
  %p= @product.description
- if @product.collection.present?
  %p= "Collection: #{@product.collection.title}"

= link_to "Edit Product Details", edit_product_path(@product)
