.footer-line
  .footer-contact-details.left
    %p Contact:
    %p= mail_to "hello@astercandle.com"

  .footer-social.right
    = link_to image_tag("Instagram-01.png"), "https://www.instagram.com/astercandle/"
    = link_to image_tag("pintrest-01.png"), "https://www.pinterest.com/astercandle"
    = link_to image_tag("facebook-01.png"), "https://www.facebook.com/Aster-Candle-173310703057025/"
    = link_to image_tag("Twitter-01.png"), "https://www.twitter.com/aster_candle"
