.footer-line
  .footer-contact-details
    %p Contact:
    %p= mail_to "hello@astercandle.com"

  .footer-social.clearix
    = link_to image_tag("social/Instagram-01.png"), "https://www.instagram.com/astercandle/"
    = link_to image_tag("social/pintrest-01.png"), "https://www.pinterest.com/astercandle"
    = link_to image_tag("social/facebook-01.png"), "https://www.facebook.com/Aster-Candle-173310703057025/"
    = link_to image_tag("social/Twitter-01.png"), "https://www.twitter.com/aster_candle"
