!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")

    %title= yield(:title).present? ? yield(:title) : "Aster Candle"

    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = render 'favicon'

  %body
    = render "layouts/navigation"
    = render "layouts/flashes"
    .wrapper.clearfix
      = yield

    = render "layouts/footer"
